<h1> Bloggers </h1>
<%= link_to "Create new blogger", "/bloggers/new" %>

<% @bloggers.each do |blogger| %>
    <div><%= link_to "Name: #{blogger.name}", blogger  %></div>
    <div><%= "Age: #{blogger.age}"  %></div>
    <div><%= "Bio: #{blogger.bio}"  %></div>
    <div><%= "------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------" %></div>
<% end %>